.bg-chalk {
  background-color: $chalk-black;
}
.bg-black {
  background-color: $black;
}
.brdr-sld-black {
  border-top: 1px solid $black;
}
.bg-chalk-template {
  background: url("../images/bg-chalk-template.jpg") no-repeat;
}
.color-bright-chartreuse {
  color: $bright-chartreuse;
}
.color-white {
  color: $white;
}
.color-light-grey {
  color: $light-grey;
}