.bg-chalk {
  background-color: $chalk-black;
}
.bg-black {
  background-color: $black;
}
.bg-teal {
  background-color: $teal;
  &:hover {
    background-color: $deep-teal;
  }
}
.brdr-sld-black {
  border-top: 1px solid $black;
}
.color-bright-chartreuse {
  color: $bright-chartreuse;
}
.color-white {
  color: $white;
}
.color-light-grey {
  color: $light-grey;
}