.brdr-tb-grey{
  border-top: 2px solid $light-grey;
  border-bottom: 2px solid $light-grey;
}
.body-background {
  background-image: url("../images/blue-bg.jpg");
  background-size: cover;
  background-color: #41A2BB;
  background-position: center center;
  background-attachment: fixed;
}
.radius {
  border-radius: 6px;
}
.radius-bottom {
  border-radius: 0 0 6px 6px;
}
.search-icon {
  top: 10px;
  right: 10px ;
}

@media screen and (min-width: 64em) {

}

@media screen and (max-width: 39.9375em) {

}

