/* Color variables */

$black: #000;
$chalk-black: #151515;
$white: #FFF;
$off-white: #f0f0f0;
$light-grey: #8a9083;
$bright-chartreuse: #adee33;
$light-blue: #40cede;
$teal: #11a0ad;
$deep-teal: #028d9e;
$blue: #0074cc;

/* Font family ariable classes */

$font-gotham-book: "gotham_book";
$font-gotham-medium: "gotham_medium";
